<!DOCTYPE html>
<html>
<head>
  <title>UV Checker</title>
  <link rel="stylesheet" href="/styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Manrope:wght@500;700&display=swap" rel="stylesheet">

</head>
<body>
    <div class="main">
  <h1>☀️ UV Index Checker</h1>
  <h2>Drop down your location coordinates!</h2>
  <form action="/check" method="GET">
    <input type="text" name="lat" placeholder="Latitude" required>
    <input type="text" name="lng" placeholder="Longitude" required>
    <button type="submit">Check UV</button>
  </form>
</div>
</body>
</html>
